layout "layout-show" {
    tab name="Sessão Principal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="40%" {
                pane {
                    name "Auxiliar"
                }

            }
            pane size="60%" {
                name "Painel Principal"
                cwd "~/Ilan"
                focus true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
